@{
    Layout = "";
}
@model ConfigurationModel
@using Nop.Plugin.Payments.GTPay.Models;
@using Nop.Web.Framework;


@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })

@using (Html.BeginForm())
{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#@Html.FieldIdFor(model => model.SkipPaymentInfo)").click(toggleSkipPaymentInfo);
            $("#@Html.FieldIdFor(model => model.UseSandbox)").click(toggleUseSandbox);
            $("#@Html.FieldIdFor(model => model.ShowGTPayPage)").click(toggleShowGTPayPage);
            toggleSkipPaymentInfo();
            toggleUseSandbox();
            toggleShowGTPayPage();
        });

        function toggleSkipPaymentInfo() {
            if ($('#@Html.FieldIdFor(model => model.SkipPaymentInfo)').is(':checked')) {
                $('#pnlDescriptionText').hide();
            }
            else {
                $('#pnlDescriptionText').show();
            }
        }

        function toggleShowGTPayPage() {
            if ($('#@Html.FieldIdFor(model => model.ShowGTPayPage)').is(':checked')) {
                $('#pnlPreferredGateway').show();
            }
            else {
                $('#pnlPreferredGateway').hide();
            }
        }

        function toggleUseSandbox() {
            if ($('#@Html.FieldIdFor(model => model.UseSandbox)').is(':checked')) {
                $('#pnlMerchantIdentifier').hide();
                $('#pnlMerchantHashKey').hide();
            }
            else {
                $('#pnlMerchantIdentifier').show();
                $('#pnlMerchantHashKey').show();
            }
        }

    </script>

    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>If you're using this gateway ensure that your primary store currency is supported by GTPay.</b><br />
                    <br />
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.SkipPaymentInfo_OverrideForStore, model => model.SkipPaymentInfo, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.SkipPaymentInfo)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.SkipPaymentInfo)
                        @Html.ValidationMessageFor(model => model.SkipPaymentInfo)
                    </div>
                </div>
                <div id="pnlDescriptionText" class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.DescriptionText_OverrideForStore, model => model.DescriptionText, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.DescriptionText)
                    </div>
                    <div class="col-md-9">
                        @Html.NopTextAreaFor(x => x.DescriptionText, "RichEditor")
                        @Html.ValidationMessageFor(model => model.DescriptionText)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.UseSandbox_OverrideForStore, model => model.UseSandbox, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.UseSandbox)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.UseSandbox)
                        @Html.ValidationMessageFor(model => model.UseSandbox)
                    </div>
                </div>
                <div id="pnlMerchantIdentifier" class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.MerchantId_OverrideForStore, model => model.MerchantId, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.MerchantId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.MerchantId)
                        @Html.ValidationMessageFor(model => model.MerchantId)
                    </div>
                </div>
                <div id="pnlMerchantHashKey" class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.MerchantHashKey_OverrideForStore, model => model.MerchantHashKey, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.MerchantHashKey)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.MerchantHashKey)
                        @Html.ValidationMessageFor(model => model.MerchantHashKey)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.ShowGTPayPage_OverrideForStore, model => model.ShowGTPayPage, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.ShowGTPayPage)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ShowGTPayPage)
                        @Html.ValidationMessageFor(model => model.ShowGTPayPage)
                    </div>
                </div>

                <div id="pnlPreferredGateway" class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.PreferredGateway_OverrideForStore, model => model.PreferredGateway, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.PreferredGateway)
                    </div>
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.PreferredGateway, Model.AvailableGateways)
                        @Html.ValidationMessageFor(model => model.PreferredGateway)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.ShowCustomerName_OverrideForStore, model => model.ShowCustomerName, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.ShowCustomerName)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.ShowCustomerName)
                        @Html.ValidationMessageFor(model => model.ShowCustomerName)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}